*{
    -webkit-user-select: none;
}
.hidden {
    display: none;
}
.visible{
    display: block;
}
.dragItem{
    padding: 15px 20px !important;
    border-radius: 25px;
}
#dragPad{
    border: 2px solid yellow;
    padding: 15px;
    border-radius: 25px;
    margin: 25% auto;
    width: 15px;
    height: 15px;
}